.hero-header {
    margin-bottom: 6rem;
    padding: 12rem 0;
    background-color: linear-gradient(
        90deg,
        rgb(110, 94, 254) 0%,
        rgba(73, 63, 252, 1) 100%
      );
    background:
        url(../../img/blob-top-left.png),
        url(../../img/blob-top-right.png),
        url(../../img/blob-bottom-left.png),
        url(../../img/blob-bottom-right.png),
        url(../../img/blob-center.png),
        url(../../img/bg-bottom.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
}